//base styles

//display toggles
.hide {
  display: none;
}

.show {
  display: block;
}

body {
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

// undo default settings

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//image styles
img {
  display: block;
  max-width: 100%;
  width: 40%;
}

form {
  display: block;
}
