//base styles

//display toggles
.hide {
  display: none;
}

.show {
  display: block;
}

.flex {
  display: flex;
}

// body & wrapper styles
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header,
main {
  background-image:  url(../assets/background.png);
}


//sections with fixed heights
// 100vh - header - footer
.headerContent .wrapper,
.viewScore,
.resultSection {
  height: calc(100vh - 135px - 70px);

  @include bp(sm) {
    height: calc(100vh - 150px - 70px);
  }
}

.resultContainer {
  height: calc(100vh - 135px - 70px - 140px);

  @include bp(sm) {
    height: calc(100vh - 150px - 70px - 160px);
  }
}

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

// undo default settings

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

//image styles
img {
  display: block;
  max-width: 100%;
  width: 100%;
}

form {
  display: block;
}
