// button styles
//---------------------------------------------------------------------

//general 
button,
input[type=submit] {
  margin: 0 auto;
  border-radius: 5px;
  font-family: $smFont;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  border: $bdStyle $secondary;
  background-color: $secondary;
  color: $primary;
  font-size: 1.6rem;
}

//hover, focus, active states
button,
input[type=submit] {

  &:hover,
  &:focus {
    background-color: $primary;
    color: $secondary;
  }

  &:active {
    background-color: $secondary;
    color: $accent;
  }
}

.start,
input[type=submit],
.bottomButton {
  
  &:hover,
  &:focus {
    border: $bdStyle $secondary;
  }
}

.start,
.viewScoreButton,
.reviewAnswers,
.bottomButton {
  width: 150px;
  height: 70px;

  @include bp(sm) {
    width: 200px;
    height: 80px;
  }
}


//header button
//start button
.start {
  margin-bottom: 20px;

}

//quiz section buttons
//submit & rest button

.buttonContainer {
  display: flex;
  justify-content: space-between;
}

input[type=submit],
.reset  {
  margin: 0;
  height: 60px;
  min-width: 70px;
  width: 150px;

  @include bp(md) {
    width: 200px;
  }
}

//result section buttons
//view score button
.viewScoreButton {
  margin: 0 auto;
}


