//typography styles

body {
  font-size: 125%;
  font-family: $smFont;
}

h1 {
  font-family: $lgFont;
  font-size: 2.4rem;
  letter-spacing: 1.7px;
  line-height: 1.2;
  font-weight: normal;
  color: $primary;

  @include bp(sm) {
    font-size: 3.6rem;
  }
}

h3 {
  font-size: 1.8rem;

  @include bp(md) {
    font-size: 2.6rem;
  }

  @include bp(lg) {
    font-size: 3.2rem;
  }
}


p {
  font-family: $smFont;
  font-weight: 300;
}

form {
  font-family: $smFont;
  color: $secondary;
}
