//typography styles
//---------------------------------------------------------------------


body {
  font-size: 125%;
  font-family: $smFont;
}

h1 {
  font-family: $lgFont;
  font-size: 2.8rem;
  letter-spacing: 1.7px;
  line-height: 1.2;
  font-weight: normal;
  color: $primary;

  @include bp(sm) {
    font-size: 3.4rem;
  }
}

h2 {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.5px;

  @include bp(sm) {
    font-size: 2.4rem;
  }

  @include bp(md) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.8rem;

  @include bp(md) {
    font-size: 2.6rem;
  }

  @include bp(lg) {
    font-size: 3.2rem;
  }

  //height query for iphone5 
  @media (min-height: 560px) {
    font-size: 1.4rem;
  }

  @media (min-height: 700px) {
    font-size: 2.2rem;
  }
}


p {
  font-family: $smFont;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0.5px
}

form {
  font-family: $smFont;
  color: $secondary;
}
