//typography styles
//---------------------------------------------------------------------


body {
  font-size: 125%;
  font-family: $smFont;
}

h1,
h2,
footer {
  font-family: $lgFont;
}

h1,
h2 {
  font-weight: 600;
}

h1, footer {
  color: $primary;
}



h1 {
  font-size: 2.0rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 3.0px;

  @include bp(sm) {
    font-size: 3.0rem;
  }

  @include bp(md) {
    font-size: 3.5rem;
  }

}

h2 {
  font-size: 1.6rem;
  line-height: 1.6;
  letter-spacing: 0.5px;

  @include bp(sm) {
    font-size: 2.2rem;
  }

  @include bp(md) {
    font-size: 2.6rem;
  }

  @include bp(lg) {
    font-size: 2.8rem;
  }
}

h3 {
  font-size: 1.8rem;

  @include bp(md) {
    font-size: 2.6rem;
  }

  @include bp(lg) {
    font-size: 3.2rem;
  }
}

p {
  font-family: $smFont;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0.5px;
  font-size: 1.0rem;
}

form {
  font-family: $smFont;
  color: $secondary;
}

footer {
  font-size: 0.8rem;
}


.headerContent p {
  font-size: 1.2rem;

  @include bp(sm) {
    font-size: 1.5rem;
  }

  @include bp(md) {
    font-size: 1.7rem;
  }

  @include bp(lg) {
    font-size: 2.0rem;
  }
}

