//variables


//font-families
$lgFont: 'Akronim', cursive;
$smFont: 'Alef', sans-serif;

//color
$primary: #FCFBf5;
$secondary: #24231C;
$accent: #CCCCFF;
$darkAccent: #604D7A;

//buttons
$bdStyle: 5px solid;
$shadow: 2px 2px 10px $secondary;

//height
$mobileHeight: calc(100vh - 75px - 70px);

//mixins
// Variables for media query
//mobile first design
$bp-xs: 320px; 
$bp-sm: 670px;
$bp-md: 960px;
$bp-lg: 1200px; 
$bp-xlg: 1440px; 

// Mixin for media query
@mixin bp($class) {
  @if $class == xs {
    @media (min-width: $bp-xs) { @content; }
  }
 
  @else if $class == sm {
    @media (min-width: $bp-sm) { @content; }
  }
 
  @else if $class == md {
    @media (min-width: $bp-md) { @content; }
  }
 
  @else if $class == lg {
    @media (min-width: $bp-lg) { @content; }
  }

  @else if $class == xlg {
    @media (min-width: $bp-xlg) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg, xlg";
  }
}

// extends


// margins
// margin between elements
$elemMargin: 20px;