// footer styles

footer {
  min-height: 70px;
  padding: 10px 0;
  display:flex;
  flex-direction: column;
  justify-content: flex-end;
  background: $secondary;
  font-family: $smFont;
  color: $primary;
  font-size: 0.8rem;

  @include bp(sm) {
    font-size: 1.0rem;
  }

  p {
    margin: 0;
  }
}