// header styles
//---------------------------------------------------------------------

// Top Banner (miniNav) 
.miniNav {
  border-bottom: $bdStyle $secondary;
  background-color: $secondary;

  .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    flex: 3;
    margin: 15px 0;
  }

  button {
    flex: 1;
  }
}

//header Content
.headerContent {  
  padding: 70px 0 100px;

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .contentContainer {
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  h2 {
    @include bp(md) {
      margin-bottom: 0;
    }
  }

  p {
    margin: 30px 0;

    @include bp(sm) {
      margin: 40px 0;
      width: 70%;
    }

    @include bp(md) {
      width: 50%;
      margin: 50px 0;
    }
  }

  button {
    align-self: center;
  }
}

