//quiz + view score sections styles

//quiz section styles

.quizSection {
  padding: 30px 0;

  @include bp(md) {
    padding: 0;
  }

  .wrapper {
    @include bp(md) {
      height: calc(100vh - 150px - 70px);
    }
  }
}

//quiz form
form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  //media query
  @include bp(sm) {
    width: 80%;
  }

  @include bp(md) {
    width: 100%;
    padding-top: 60px;
    flex-direction: row;
    align-items: flex-start;
  }

  //focus,active, hover states
  input:focus + label,
  input:checked + label  {
    background-color: $accent;
  }

  input:hover + label {
    text-shadow: 0.5px 0.5px $secondary;
    border-bottom: 1.5px solid $darkAccent;
  }
  
  input:active + label {
    background-color: $primary;
    color: $darkAccent;
    text-shadow: 0.5px 0.5px $darkAccent;
  }
}

//quiz images
.imgContainer {
  @include bp(md) {
    flex-basis: 45%;
    margin-right: 30px;
  }

  @include bp(lg) {
    flex-basis: 45%;
  }
}

//quiz question container
.questionContainer {

  @include bp(md) {
    flex-basis: 55%;

    display: flex;
    flex-direction: column;
  }

  @include bp(lg) {
    flex-basis: 50%;
  }
}

//quiz index
.quizIndex {
  margin: 0;
  text-align: right;
}

.quizImg,
fieldset {
  margin-bottom: $elemMargin;

  @include bp(sm) {
    margin-bottom: 35px;
  }
}

.quizImg {
  box-shadow: 10px 10px $secondary;
  margin-left: auto;
  margin-right: auto;

  @include bp(md) {
    width: 85%;
  }

  @include bp(lg) {
    width: 70%;
  }

  @include bp(xlg) {
    width: 60%;
  }
}

//quiz questions
fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include bp(sm) {
    font-size: 1.2rem;
  }

  @include bp(lg) {
    font-size: 1.4rem;
  }

  input, 
  label {
    margin-bottom: 10px;
  }
}

.optionContainer {
  input {
    display: none;
  }
}

