// result section styles
// view your score page + result page
//--------------------------------------------------------------------

//general
.resultSection {
  border: 1px solid $primary;
  border-left: none;
  border-right: none;
  background-color: $secondary;
  color: $primary;

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include bp(sm) {
      padding: 20px 0;
    }
  }

  button {
    align-self: center;
  }
}

//view score section
//---------------------------------------------------------------------
.viewScore {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  p {
    text-align: center;
    font-size: 1.6rem;

    @include bp(sm) {
      font-size: 2.4rem;
    }

    @include bp(lg) {
      font-size: 3.2rem;
    }
  }
  
}

//score result 
//---------------------------------------------------------------------
.resultContainer {
  padding: 20px;
  margin: 20px 0;
  flex-direction: column;
  justify-content: space-around;
  border: 1.5px solid $accent;
  border-radius: 5px;

  //height query for iphone5
  @media (min-height: 560px) {
    padding: 10px;  
  }

  h3 {
    margin-top: 0;

    @include bp(lg) {
      margin-bottom: 0;
    }
  }

  i {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: normal;

    //height query for iphone5 
    @media (min-height: 560px) {
      font-size: 2.0rem;
    }

    @media (min-height: 700px) {
      font-size: 3.2rem;
    } 

    @include bp(lg) {
      font-size: 4.0rem;
    }
  }

  p {
    font-size: 3.0rem;
    margin: 10px 0;
  }
}

.bottomButton {
  margin-bottom: 20px;
}