// result section styles
// view your score page + result page
//--------------------------------------------------------------------

//general
.resultSection {
  border: 1px solid $primary;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: center;

  button {
    margin-top: 50px;
    align-self: center;
  }
}

//view score section
//---------------------------------------------------------------------
.viewScore {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
}

//score result 
//---------------------------------------------------------------------
.resultContainer {
  padding: 20px;
  margin: 20px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;

  //height query for iphone5
  @media (min-height: 560px) {
    padding: 10px;  
  }

  h3 {
    margin-top: 20px;

    @include bp(lg) {
      margin-bottom: 0;
    }
  }

  i {
    margin: 10px 0;
  }

  p {
    margin: 10px 0;
  }
}

.bottomButton {
  margin-bottom: 20px;
}