//review section styles
//---------------------------------------------------------------------

//general
.reviewSection {
  padding-bottom: 50px;
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 15px;
  }
}

//gallery
.gallery {

  @include bp(lg) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 20px 0;
    border: 1px solid $secondary;
    padding: 10px;

    @include bp(sm) {
      width: 70%;
      margin: 10px auto 40px;
    }

    @include bp(md) {
      display: flex;
    }

    @include bp(lg) {
      font-size: 1.4rem;
      width: 45%;
      flex-basis: 47%;
      padding: 50px 10px 100px;
    }

    img {
      @include bp(md) {
        max-height: 350px;
        width: 50%;
      }

      @include bp(lg) {
        width: 40%;
      }
      @include bp(xlg) {
        max-height: 400px;
      }
    }

    .reviewContents {
      @include bp(md) {
        flex-basis: 50%;
        margin-left: 30px;
        min-height: 350px;
      }

      @include bp(xlg) {
        margin-left: 20px;
      }

    }
  }

  p {
    margin: 0;
  }

  .title,
  .userAnswers {
    border-bottom: 1px solid $secondary;
    font-size: 1.2rem;
    font-weight: bold;

    @include bp(sm) {
      font-size: 1.4rem;
    }

    @include bp(lg) {
      font-size: 1.8rem;
    }
  }

  .title {
    margin-top: 10px;
    font-style: italic;

    @include bp(lg) {
      margin-top: 0;
    }
  }

  .userAnswers {
    margin-top: 20px;
    text-transform: lowercase;
  }
}

.bottomButton {
  align-self: center;
}
