//review section styles
//---------------------------------------------------------------------

//general
.reviewSection {
  padding-bottom: 50px;
  
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 15px;
  }
}

//gallery
.gallery {

  @include bp(lg) {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    margin: 20px 0;
    border: 1px solid $secondary;
    padding: 10px;
    

    @include bp(sm) {
      width: 70%;
      margin: 10px auto 40px;
    }

    @include bp(md) {
      display: flex;
      justify-content: space-between;
    }

    @include bp(lg) {
      width: calc(50% - 35px);
      padding: 25px 10px 50px;
      // height: 450px;

      &:nth-child(odd) {
        margin: 0 35px 70px 0;
      }

      &:nth-child(even) {
        margin: 0 0 70px 0;
      }
    }

    img {
      margin: 0 auto;

      @include bp(md) {
        max-height: 350px;
        width: 50%;
      }

      @include bp(xlg) {
        max-height: 400px;
        margin: 0;
      }
    }

    .reviewContents {
      @include bp(md) {
        flex-basis: 50%;
        margin-left: 30px;
        min-height: 350px;
      }

    }
  }

  p {
    margin: 0;
  }

  .title,
  .userAnswers {
    border-bottom: 1px solid $secondary;
  }

  .title {
    margin-top: 10px;

    @include bp(lg) {
      margin-top: 0;
    }
  }

  .userAnswers {
    margin-top: 20px;
  }
}

.bottomButton {
  align-self: center;
}
