article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden; }

.hide {
  display: none; }

.show {
  display: block; }

.flex {
  display: flex; }

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

header,
main {
  background-image: url(../assets/background.png); }

.wrapper {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto; }

.headerContent .wrapper,
.viewScore,
.resultSection {
  height: calc(100vh - 120px - 65px); }
  @media (min-width: 670px) {
    .headerContent .wrapper,
    .viewScore,
    .resultSection {
      height: calc(100vh - 150px - 65px); } }

@media (min-width: 960px) {
  .quizSection .wrapper {
    height: calc(100vh - 150px - 65px); } }

.resultContainer {
  height: calc(100vh - 120px - 65px - 140px); }
  @media (min-width: 670px) {
    .resultContainer {
      height: calc(100vh - 150px - 65px - 160px); } }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

img {
  display: block;
  max-width: 100%;
  width: 100%; }

form {
  display: block; }

a {
  color: #604D7A;
  text-transform: uppercase; }

body {
  font-size: 125%;
  font-family: "Alef", sans-serif; }

h1 {
  font-family: "Akronim", cursive;
  font-size: 2.8rem;
  letter-spacing: 1.7px;
  line-height: 1.2;
  font-weight: normal;
  color: #FCFBf5; }
  @media (min-width: 670px) {
    h1 {
      font-size: 3.4rem; } }

h2 {
  font-size: 2.0rem;
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 0.5px; }
  @media (min-width: 670px) {
    h2 {
      font-size: 2.4rem; } }
  @media (min-width: 960px) {
    h2 {
      font-size: 2.8rem; } }

h3 {
  font-size: 1.8rem; }
  @media (min-width: 960px) {
    h3 {
      font-size: 2.6rem; } }
  @media (min-width: 1200px) {
    h3 {
      font-size: 3.2rem; } }
  @media (min-height: 560px) {
    h3 {
      font-size: 1.4rem; } }
  @media (min-height: 700px) {
    h3 {
      font-size: 2.2rem; } }

p {
  font-family: "Alef", sans-serif;
  font-weight: normal;
  line-height: 1.3;
  letter-spacing: 0.5px; }

form {
  font-family: "Alef", sans-serif;
  color: #24231C; }

button,
input[type=submit] {
  margin: 0 auto;
  border-radius: 20px;
  font-family: "Alef", sans-serif;
  text-align: center;
  text-transform: lowercase;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 1.2;
  border: 5px solid #CCCCFF;
  background-color: #24231C;
  color: #FCFBf5; }

button:hover, button:focus,
input[type=submit]:hover,
input[type=submit]:focus {
  background-color: #CCCCFF;
  color: #24231C; }

button:active,
input[type=submit]:active {
  background-color: #FCFBf5; }

.start,
input[type=submit],
.bottomButton {
  box-shadow: 7px 7px 6px #24231C; }
  .start:hover, .start:focus,
  input[type=submit]:hover,
  input[type=submit]:focus,
  .bottomButton:hover,
  .bottomButton:focus {
    border: 5px solid #24231C; }
  .start:active,
  input[type=submit]:active,
  .bottomButton:active {
    box-shadow: none; }

.start {
  width: 200px;
  height: 60px;
  margin-bottom: 20px;
  font-size: 1.6rem; }
  @media (min-width: 670px) {
    .start {
      width: 250px;
      height: 100px;
      font-size: 2.2rem; } }
  @media (min-width: 960px) {
    .start {
      width: 300px;
      font-size: 2.7rem; } }

input[type=submit] {
  width: 100%;
  height: 60px;
  font-size: 2.0rem; }
  @media (min-width: 670px) {
    input[type=submit] {
      height: 70px;
      font-size: 2.4rem; } }
  @media (min-width: 960px) {
    input[type=submit] {
      width: 75%;
      height: 60px;
      font-size: 2.2rem; } }
  @media (min-width: 1200px) {
    input[type=submit] {
      width: 60%;
      height: 70px; } }

.navReset {
  width: 35px;
  height: 50px;
  font-size: 1.2rem; }
  @media (min-width: 670px) {
    .navReset {
      width: 60px;
      height: 70px;
      font-size: 2.0rem;
      padding: 10px 20px; } }

.viewScoreButton {
  width: 95%;
  height: 100px;
  margin: 0 auto;
  font-size: 1.8rem; }
  @media (min-width: 670px) {
    .viewScoreButton {
      font-size: 2.4rem; } }
  @media (min-width: 1200px) {
    .viewScoreButton {
      font-size: 3.2rem; } }

.reviewAnswers {
  width: 270px;
  height: 70px;
  font-size: 1.4rem; }
  @media (min-width: 670px) {
    .reviewAnswers {
      width: 400px;
      font-size: 2.0rem; } }
  @media (min-width: 960px) {
    .reviewAnswers {
      width: 550px;
      font-size: 2.2rem; } }
  @media (min-width: 1200px) {
    .reviewAnswers {
      font-size: 2.4rem; } }

.bottomButton {
  width: 280px;
  height: 60px;
  font-size: 1.4rem; }
  @media (min-width: 670px) {
    .bottomButton {
      width: 370px;
      height: 70px;
      font-size: 2.0rem; } }

.miniNav {
  height: 120px;
  background: #24231C; }
  @media (min-width: 670px) {
    .miniNav {
      height: 150px; } }
  .miniNav .wrapper {
    margin: 0 auto;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .miniNav h1 {
    margin-top: 20px;
    flex: 3; }
  .miniNav button {
    flex: 1; }

.headerContent .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }

@media (min-width: 960px) {
  .headerContent .contentContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; } }

@media (min-width: 960px) {
  .headerContent h2 {
    margin-bottom: 0; } }

.headerContent p {
  margin: 30px 0;
  font-size: 1.4rem; }
  @media (min-width: 670px) {
    .headerContent p {
      margin: 40px 0;
      font-size: 2.0rem; } }
  @media (min-width: 960px) {
    .headerContent p {
      width: 90%;
      margin: 50px 0;
      font-size: 2.2rem; } }

.headerContent button {
  align-self: center; }

.quizSection {
  padding: 30px 0; }
  @media (min-width: 960px) {
    .quizSection {
      padding: 0; } }

form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 670px) {
    form {
      width: 70%; } }
  @media (min-width: 960px) {
    form {
      width: 100%;
      padding-top: 60px;
      flex-direction: row;
      align-items: flex-start; } }
  @media (min-width: 1200px) {
    form {
      padding-top: 40px; } }
  form input:focus + label,
  form input:checked + label {
    background-color: #CCCCFF; }
  form input:hover + label {
    text-shadow: 0.5px 0.5px #24231C;
    border-bottom: 1.5px solid #604D7A; }
  form input:active + label {
    background-color: #FCFBf5;
    color: #604D7A;
    text-shadow: 0.5px 0.5px #604D7A; }

@media (min-width: 960px) {
  .imgContainer {
    flex-basis: 45%;
    margin-right: 30px; } }

@media (min-width: 1200px) {
  .imgContainer {
    flex-basis: 45%; } }

@media (min-width: 960px) {
  .questionContainer {
    flex-basis: 55%;
    display: flex;
    flex-direction: column; } }

@media (min-width: 1200px) {
  .questionContainer {
    flex-basis: 50%; } }

.quizIndex {
  margin: 0;
  text-align: right; }

.quizImg,
fieldset {
  margin-bottom: 20px; }
  @media (min-width: 670px) {
    .quizImg,
    fieldset {
      margin-bottom: 35px; } }

.quizImg {
  box-shadow: 10px 10px #24231C;
  margin-left: auto;
  margin-right: auto; }
  @media (min-width: 960px) {
    .quizImg {
      width: 80%; } }
  @media (min-width: 1200px) {
    .quizImg {
      width: 65%; } }
  @media (min-width: 1400px) {
    .quizImg {
      width: 55%; } }

fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  @media (min-width: 670px) {
    fieldset {
      font-size: 1.2rem; } }
  fieldset input,
  fieldset label {
    margin-bottom: 10px; }

.optionContainer input {
  display: none; }

.resultSection {
  border: 1px solid #FCFBf5;
  border-left: none;
  border-right: none;
  background-color: #24231C;
  color: #FCFBf5; }
  .resultSection .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; }
    @media (min-width: 670px) {
      .resultSection .wrapper {
        padding: 20px 0; } }
  .resultSection button {
    align-self: center; }

.viewScore {
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  .viewScore p {
    text-align: center;
    font-size: 1.6rem; }
    @media (min-width: 670px) {
      .viewScore p {
        font-size: 2.4rem; } }
    @media (min-width: 1200px) {
      .viewScore p {
        font-size: 3.2rem; } }

.resultContainer {
  padding: 20px;
  margin: 20px 0;
  flex-direction: column;
  justify-content: space-around;
  border: 1.5px solid #CCCCFF;
  border-radius: 5px; }
  @media (min-height: 560px) {
    .resultContainer {
      padding: 10px; } }
  .resultContainer h3 {
    margin-top: 0; }
    @media (min-width: 1200px) {
      .resultContainer h3 {
        margin-bottom: 0; } }
  .resultContainer i {
    margin: 10px 0;
    font-size: 1.8rem;
    font-weight: normal; }
    @media (min-height: 560px) {
      .resultContainer i {
        font-size: 2.0rem; } }
    @media (min-height: 700px) {
      .resultContainer i {
        font-size: 3.2rem; } }
    @media (min-width: 1200px) {
      .resultContainer i {
        font-size: 4.0rem; } }
  .resultContainer p {
    font-size: 3.0rem;
    margin: 10px 0; }

.bottomButton {
  margin-bottom: 20px; }

.reviewSection {
  padding-bottom: 50px; }
  .reviewSection .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .reviewSection h2 {
    margin-bottom: 15px; }

@media (min-width: 1200px) {
  .gallery {
    display: flex;
    flex-wrap: wrap; } }

.gallery li {
  margin: 20px 0;
  border: 2px solid #CCCCFF;
  padding: 10px; }
  @media (min-width: 670px) {
    .gallery li {
      width: 70%;
      margin: 10px auto 40px; } }
  @media (min-width: 960px) {
    .gallery li {
      display: flex; } }
  @media (min-width: 1200px) {
    .gallery li {
      font-size: 1.4rem;
      width: 45%;
      flex-basis: 47%;
      padding: 50px 10px 100px; } }
  @media (min-width: 960px) {
    .gallery li img {
      max-height: 350px;
      width: 50%; } }
  @media (min-width: 1200px) {
    .gallery li img {
      width: 40%; } }
  @media (min-width: 1400px) {
    .gallery li img {
      max-height: 400px; } }
  @media (min-width: 960px) {
    .gallery li .reviewContents {
      flex-basis: 50%;
      margin-left: 30px; } }
  @media (min-width: 1400px) {
    .gallery li .reviewContents {
      margin-left: 20px; } }

.gallery p {
  margin: 0; }

.gallery .title,
.gallery .userAnswers {
  border-bottom: 2px solid #CCCCFF;
  font-size: 1.2rem;
  font-weight: bold; }
  @media (min-width: 670px) {
    .gallery .title,
    .gallery .userAnswers {
      font-size: 1.4rem; } }
  @media (min-width: 1200px) {
    .gallery .title,
    .gallery .userAnswers {
      font-size: 1.8rem; } }

.gallery .title {
  margin-top: 10px;
  font-style: italic; }
  @media (min-width: 1200px) {
    .gallery .title {
      margin-top: 0; } }

.gallery .userAnswers {
  margin-top: 20px;
  text-transform: lowercase; }

.bottomButton {
  align-self: center; }

footer {
  height: 65px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background: #24231C;
  font-family: "Alef", sans-serif;
  color: #FCFBf5;
  font-size: 0.8rem; }
  @media (min-width: 670px) {
    footer {
      font-size: 1.0rem; } }
  @media (min-width: 960px) {
    footer {
      text-align: center; } }
  footer p {
    margin: 0; }
